@font-face {
    font-family:meddon-regular;
    src: url(./Meddon-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(./Lobster.ttf);
}
.logo{
    width: 100%;
    height: 300px;
    background-color: transparent;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    display:flex;
}
.title_1 {
    color:#5c0b0b; 
    font-size: 49px; 
    font-family: meddon-regular;
    margin-bottom: -85px;
    z-index: 1;
    position: relative;
}
.title_2 {
    color:#7B1717; 
    font-size: 42px;
    font-family:Lobster;
    letter-spacing: 4px;
    margin-top: 7px;
}
body{
   margin: 2px; 
   margin-bottom: 0px;
}
/*menu es el div padre de la clase items*/
.Menu{
    width: 100%;
    background-color: #cee7d9;
    display: flex;
    justify-content: flex-end;
}
.Icon_menu{
    display: none;
}
li a:hover .Icon_menu{
    display:initial;
    justify-content: center;
}
li a:hover p{
    display: none;
}
.items{
    width: 70%;
    background-color: #FFDB66;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
ul {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
li {
    list-style-type: none;
    float: left;
    width: 33%;
    height: 100%;
}
li a{ 
    text-decoration: solid;
    color:#ffffff;
    padding: 20px;
    width: 100%;
    height: 100%;
}
/*li a:hover { 
    color: #FFDB66;
    background-image: url("book-half.svg");
    background-repeat: no-repeat;
    background-position: center;
}
*/
div {
    background-color: #02674b ;
    text-align: center;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}
.PrincipalDescription {
    color: rgb(255, 255, 255);
    text-decoration: solid;
}
.description {
    color:#ffffff;
    text-decoration: double;
    font-family: monospace;
    margin-bottom: 2px;
}
.footer{
    width: 99%;
    height: 10%;
    text-align: left;
    margin-bottom: 0px;
    padding: 10px
}